
* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FF729F;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#title-left{
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

#search-bar-right{
    padding-right: 40px;
}


#container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#sidebar{
    background: #D3C4D1;
    width: 200px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

#sidebar a{
    color: black;
    line-height: 50px;
    padding-left: 30px;

}

#sidebar .nav-title{
    padding-left: 30px;
}

#content{
    background-color: aqua;
    padding: 30px;
    flex-grow: 1;
    height: 100%;
}
