{% extends 'layout.html' %}

{% block content %}
<main>
    <p>
        THIS IS WHERE ALL THE REALLY IMPORTANT MOVIE INFO GOES
    </p>
    <p>
        "It was so great to hear from you today and it was such weird timing," he said. "This is going to sound funny and a
        little strange, but you were in a dream I had just a couple of days ago. I'd love to get together and tell you
        about it if you're up for a cup of coffee," he continued, laying the trap he'd been planning for years.

        She had been told time and time again that the most important steps were the first and the last.
        It was something that she carried within her in everything she did, but then he showed up and disrupted
        everything. He told her that she had it wrong. The first step wasn't the most important. The last step wasn't
        the most important. It was the next step that was the most important.
    </p>

</main>

{% endblock %}