{% extends 'layout.html' %}

{% block content %}
<main id="main">
    <p>
        THIS IS WHERE ALL THE REALLY IMPORTANT MOVIE INFO GOESSS

    </p>
     <nav class="nav-buttons">
        <div>
            {% if first_movie_url is not none %}
                <button onclick="location.href='{{first_movie_url}}'">First</button>
            {% else %}
                <button disabled>First DISABLED</button>
            {% endif %}
            {% if prev_movie_url is not none %}
                <button onclick="location.href='{{prev_movie_url}}'">Previous</button>
            {% else %}
                <button disabled>Previous DISABLED</button>
            {% endif %}
        </div>
        <div>
            {% if next_movie_url is not none %}
                <button onclick="location.href='{{next_movie_url}}'">Next</button>
            {% else %}
                <button disabled>Next DISBALED</button>
            {% endif %}
            {% if last_movie_url is not none %}
                <button onclick="location.href='{{last_movie_url}}'">Last</button>
            {% else %}
                <button disabled>Last DISBALED</button>
            {% endif %}
        </div>
     </nav>

    {% for movie in movies %}
    <div>
        <h2>{{movie['title']}}</h2>
        <h2>{{movie['title']}}</h2>
        <h2>{{movie['title']}}</h2>
        <h2>{{movie['title']}}</h2>

        <h2>{{movie['title']}}</h2>
        <h2>{{movie['title']}}</h2>


    </div>
    {% endfor %}
</main>

{% endblock %}