<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS235Flix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <div id="title-left">CS235Flix</div>
    <div id="search-bar-right">Looking for something specific</div>
</header>

<div id="sidebar">
    <ol>
        <li>THIS</li>
        <li>IS</li>
        <li>A</li>
        <li>SIDEBAR</li>
        <li>THIS</li>
        <li>IS</li>
        <li>A</li>
        <li>SIDEBAR</li>
        <li>THIS</li>
        <li>IS</li>
        <li>A</li>
        <li>SIDEBAR</li>
    </ol>
</div>

</body>

</html>